* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:black;
    background-image:url(./img/mesh-gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    color:white;
    text-align:center;
    font-family:'Inconsolata', monospace;
}
.box{
    margin-top:25px;
}
.formu{
    line-height:40px;
}
h2{
font-size:30px;
}
input{
    width:50px;
    height:25px;
    border-radius:50px;
    border:2px solid white;
    color:white;
    text-align: center;
    background-color: black;
    margin-left:5px;
}
.output{
    margin-right:50px;
    margin-left:50px;
}
#output{
    font-size:25px;
}
#animated{
    line-height:100px;
}
